doctype html
html
	include ../includes/head.pug
	body.page
		include ../includes/header.pug
		menu.page__menu
			block page-content
		include ../includes/footer.pug
		script(src='js/vendor.min.js')
		script(src='js/common.min.js')
	
