/* reset */
/* main variables */
@font-face {
  font-family: "my-exo2";
  src: url("../fonts/exo2extralightcondensed/exo2extralightcondensed.woff2") format("woff2"), url("../fonts/exo2extralightcondensed/exo2extralightcondensed.woff") format("woff");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: "my-exo2";
  src: url("../fonts/exo2lightcondensed/exo2lightcondensed.woff2") format("woff2"), url("../fonts/exo2lightcondensed/exo2lightcondensed.woff") format("woff");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "my-exo2";
  src: url("../fonts/exo2mediumcondensed/exo2mediumcondensed.woff2") format("woff2"), url("../fonts/exo2mediumcondensed/exo2mediumcondensed.woff") format("woff");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "my-exo2";
  src: url("../fonts/exo2regularcondensed/exo2regularcondensed.woff2") format("woff2"), url("../fonts/exo2regularcondensed/exo2regularcondensed.woff") format("woff");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "my-exo2";
  src: url("../fonts/exo2semiboldcondensed/exo2semiboldcondensed.woff2") format("woff2"), url("../fonts/exo2semiboldcondensed/exo2semiboldcondensed.woff") format("woff");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: "my-exo2";
  src: url("../fonts/exo2blackcondensed/exo2blackcondensed.woff2") format("woff2"), url("../fonts/exo2blackcondensed/exo2blackcondensed.woff") format("woff");
  font-style: normal;
  font-weight: 900; }

.container {
  max-width: 1920px;
  margin: 0 auto; }

.container--min {
  max-width: 1600px;
  margin: 0 auto; }

.no-scroll {
  overflow: hidden; }

@media screen and (max-width: 1700px) {
  html {
    font-size: 90%; } }

@media screen and (max-width: 1400px) {
  html {
    font-size: 80%; } }
