extends ../layouts/layout-other.pug

mixin title(data)
	.title
	h2.title__text= data
	a.title__more(href="javascript:void(0);") ...

block breadcrumbs
	-let list = ['ГОЛОВНА', 'ПРО ПАЛАТУ', 'МІСІЯ, БАЧЕННЯ, ЦІННОСТІ']

block page-contact
	.pages-other.about
		.pages-other__container.container
			h2.pages-other__title МІСІЯ, БАЧЕННЯ, ЦІННОСТІ
			.pages-other__body
				h3.about__title Місія ТПП України
				p.about__text Створення та підтримка сприятливого середовища для ведення бізнесу в Україні
					| «Україна - cвіт». і посилення міжнародної ділової співпраці
				h3.about__title Бачення
				p.about__text Система ТТП в Україні - це впливова, дієва та проактивна організація, найбільш регіонально 
					| розгалужена в Україні, з потужною мережею партнерів за кордоном, що створює умови для підвищення конкурентоспроможності
					| бізнесу на регіональному, національному та міжнародному рівнях.
				h3.about__title Цінності
				p.about__text Система ТПП в Україні пропагує цінності та фундаментальні принципи, які є запорукою підтримки 
					| високих етичних і ділових стандартів.
				h3.about__title 1. Незалежність
				p.about__text ТПП України - самоврядна незалежна організація, що об’єднує незалежних членів і формує незалежну експертну думку
				h3.about__title 2. Довіра
				p.about__text ТПП України цінує довіру бізнесу, держави та громадянського суспільства
				h3.about__title 3. Патріотизм
				ul.about__list
					li.about__item ТПП України - представник українського бізнес
					li.about__item ТПП України піддержує український бізнес
					li.about__item ТПП України підтримує та просуває бренд «made in ukraine»
				h3.about__title 4. Соціальна відповідальність
				p.about__text ТПП України - соціально відповідальна організація перед бізнес-спільнотою та суспільством
				h3.about__title 5. Стабільність і системність
				ul.about__list
					li.about__item Торгово-промислові палати у світі існують 400 років
					li.about__item Система торгово-промислових палат працює майже в усіх країнах світу
					li.about__item Функції ТПП України - актуальні та затребувані бізнесом
					li.about__item ТПП України використовує системний підхід до реалізації своїх функцій
				h3.about__title 6. Унікальність
				p.about__text  Система ТПП в Україні з її послугами є унікальною, працює на підставі ЗУ «Про Торгово-промислові 
					| палати в Україні», чим суттєво відрізняється від інших асоціацій бізнес 					
