extends ../layouts/layout-other.pug

block breadcrumbs
  -let list = ['ГОЛОВНА', 'ПРО ПАЛАТУ', 'Керівництво']

block page-contact
  .pages-other
    .pages-other__container.container
      h2.pages-other__title Керівництво
      .pages-other__body
        header.leader__header
          .leader__about
            .leader__name НІЖИНСЬКА ІРИНА СЕРГІЇВНА
            .leader__info представник Торгово-Промислової палати України в Італії <br> (регіони Ломбардія, П’ємонт)
          .leader__img
            img.picture(src='img/leader.png')
        .leader__content
          span.leader__title РОБОТА:
          ul.leader__list
            li.leader__item 2017 Представник ТППУ в Італії, м. Мілан (регіони Ломбардія та П’ємонт)
            li.leader__item 2014 Місія ООН з прав людини в Україні, Начальник служби безпеки
            li.leader__item 2013 Міжнародний центр підготовки поліцейських, підрозділів, Віченца, Італія, Інструктор-тренер з підготовки поліцейських до миротворчих місій
            li.leader__item 2012 – 2014 Національна Академія Внутрішніх справ України,  Профессор кафедри цивільного права
            li.leader__item 2008-2010 ОБСЄ місія у Косово, Начальник служби безпеки регіону Косовська Мітровиц
            li.leader__item 2007-2008 Місія ООН у Ліберії, Начальник слідчого департаменту служби безпеки
            li.leader__item 2004-2007 Місія ООН у Грузії, Абхазії, Офіцер з прав людини (нагляд за пенітенціарною системою)
            li.leader__item 2003 Служба безпеки ООН у Відні, Австрія, Офіцер особистої охорон
            li.leader__item 2000-2002 Місія ООН у Боснії та Герцеговині, Командир слідчої групи у справах торгівлі людьми
            li.leader__item 1998 - 2003 Національна Академія Внутрішніх справ України
          span.leader__title ОСВІТА:
          ul.leader__list
            li.leader__item 2014 Присвоєно вчене звання «Доцент»  (наказ МОН  №38 від 17.01.2014 року)
            li.leader__item 1997-2003 Кандидат юридичних наук, ад’юнктура Національної Академії внутрішніх справ  України ( дисертація по спеціальності 12.00.03 “ цивільне та сімейне право, цивільний процес, міжнародне приватне право ” на тему :  “ Відшкодування шкоди, завданої незаконними діями органів дізнання та попереднього слідства в міліції ”).
            li.leader__item 1992 -1997 Юридичний факультет Київського університету імені Тараса Шевченка. Диплом з відзнакою по спеціальності правознавство n 97000200.
            li.leader__item 1991-1992 Національний Український Гуманітарний Ліцей при Київському Університеті ім. Т. Шевченка . Свідоцтво з відзнакою ao №328543 із золотою медаллю.
            li.leader__item 1989-1990 Англійське відділення  ii Київських Державних    Курсів іноземних мов. Свідоцтво з відзнакою №154.
            li.leader__item 1990Програма обміну з учнями в коледжі м. Тампере, Фінляндія
            li.leader__item 1989 Програма обміну учнями в ліцеї quarenghi м. Мілан, Італія
            li.leader__item 1982-1991 Освіта в Київській середній школі № 143.
			
