extends ../layouts/layout-other.pug

block breadcrumbs
  -let list = ['ГОЛОВНА', 'Новини']
mixin news(data)
  each post in data.news
    a.news(href='javascript:void(0);')
      .news__picture
        img.picture.picture--full(src=post.src)
      .news__content
        p.news__title= post.title
        span.news__data= post.data
        .news__more Докладніше
        .news__dots ...
block page-contact
  .pages-other
    .pages-other__container.container
      h2.pages-other__title Новини
      .pages-other__body
        header.news-inner__header
          .news-inner__picture
            img.picture.picture--full-width(src="img/news-inner1.png")
          .news-inner__info
            h3.news-inner__title Італійці інвестуватимуть в українську швидкісну залізницю
            time.news-inner__data(datetime='31 січня 2018 року') 31 січня 2018 року
            h4.news-inner__subtitle Одним із найамбітніших і наймасштабніших спільних із італійськими партнерами проектів наразі є розробка високошвидкісної залізничної євроколії сполученням Одеса-Київ-Львів. Крім того, очікується поповнення на авіаційному ринку України, а саме – вихід італійського лоукосту на наш ринок.
        .news-inner__content
          p Понад 100 українських і 35 італійських компаній взяли участь в 
            | українсько-італійському бізнес-форумі, що проходив у ТПП України. 
            | Серед італійської бізнес-делегації – представники банківської сфери,
            | виробники автомобілів та автотехніки, компанії аерокосмічної й 
            | оборонної промисловості, будівельні фірми, авіалінії, а також бізнесмени, 
            | сфери діяльності яких лежать у площинах охорони здоров’я, відновлюваної енергетики, 
            | інженерії, дизайну, архітектури та виробництва продуктів харчування
          p Співорганізаторами заходу виступили ТПП України та Посольство Італійської Республіки в 
            | Україні за підтримки Міністерства закордонних справ України.
          p «Ми раді,  що італійський бізнес готовий шукати нові можливості співпраці разом із нами. 
            | Ми зацікавлені в італійських технологіях, ноу-хау, інвестиціях. Хоча Італія вже  є одним із
            |  найактивніших європейських партнерів України у зовнішньоекономічних зв’язках, вона традиційно
            |   посідає одне з перших місць  серед країн – членів ЄС за обсягами нашого експорту. Проте, у
            |    нас є значний невикористаний потенціал у розвитку торгівлі.  Адже  6 років тому її обсяги 
            |    були значно більшими, ніж зараз: товарообіг перевищував 5 млрд дол, а в 2017-му – лише 3,6
            |     млрд  дол», – сказав президент ТПП України Геннадій Чижиков
          p «Розпочатий в Україні процес реформ є намаганням поставити Україну в один ряд із успішними 
            | європейськими країнами, щоб вона відповідала всім європейським стандартам. Це шлях до збільшення 
            | інтегрованості України з ЄС. На це спрямована і наша двостороння співпраця, в якій ми вже досягли певних
            |  успіхів. Так, у 2017 році наш експорт в Україну зріс на 26,8%, а імпорт із України – на 23,5%. Ми бачимо,
            |   що йдеться про помітний ривок у нашому діловому обміні. Чи маємо ми можливості, щоб ще поглиблювати і 
            |   розширювати співпрацю? Звісно, що так. Ми хочемо спрямувати зусилля на енергетичну та продовольчу галузі, 
            |   на наші технологічні можливості, на досвід наших підприємств», – зазначив міністр закордонних справ Італії
            |    Анджеліно Альфано. Італійські бізнесмени презентували свої проекти та закликали українську сторону до 
            |   співпраці. Зокрема, керівник italferr Рікардо Марія Монті представив проект своєї компанії у сфері 
            |   інфраструктури – швидкісну залізничну колію, над реалізацією якого компанія працює спільно з Міністерством
            |    інфраструктури України.
          p Як повідомив міністр інфраструктури України Володимир Омелян, зараз  разом із фахівцями italferr  розробляється техніко-економічне  обґрунтування
            | високошвидкісної залізничної євроколії сполученням Одеса-Київ-Льві
          p «Під час наших з Анджеліно зустрічей ми завжди намагаємось приділити особливу увагу  викликам, які стоять перед українським бізнесом в Італії і перед італійськім – в Україні. Сьогодні у нас працює зона вільної торгівлі з ЄС,  
            | Канадою, запрацює і з іншими державами. Італія – наш важливий торговельний партнер в Європі, наш експорт до 
            | Італії більший, ніж до інших європейських країн. Нам потрібні інвестиції, досвід, італійське бачення 
            | європейського та світового ринку. Наразі італійський бізнес дуже цікавиться великими енергетичними й 
            | інфраструктурними проектами. І саме зараз настав час їх реалізовувати», – вважає Павло Клімкін, міністр 
            | закордонних справ України. Представник ТПП України в Італійській Республіці Марко Тозон представив гостям
            | форуму платформи ефективного спілкування українських та італійських підприємців задля легкого входження на
            |   ринки обох держав, що охоплюють різноманітні сфери діяльності – від експорту продуктів харчування,  
            |   переробки товарів у сільськогосподарській та інших галузях до вирішення соціальних питань. Це¸ зокрема, 
            |  agricalture – для сертифікації українських товарів та організації їх збуту, food&wine –  для пошуку та
            |   встановлення контактів між українським та італійським ринками.
          p Не залишилась поза увагою й дуже важлива на сьогодні для України соціальна сфера – програма ukraine kids  закликана реалізовувати соціальні та благодійні  проекти.
          p Під час В2В-переговорів підприємці України й Італії отримали змогу більш детально обговорити можливості своєї співпраці.

        
