extends ../layouts/layout-other.pug

block breadcrumbs
  -let list = ['ГОЛОВНА', ' ПОСЛУГИ ','ОРГАНІЗАЦІЯ МІЖНАРОДНОГО ЕКОНОМІЧНОГО СПІВРОБІТНИЦТВА']
  
mixin list(data)
  each item in data
    li= item
  
mixin news(data)
  each post in data.news
    a.news(href='javascript:void(0);')
      .news__picture
        img.picture.picture--full(src=post.src)
      .news__content
        p.news__title= post.title
        span.news__data= post.data
        .news__more Докладніше
        .news__dots ...
block page-contact
  .pages-other
    .pages-other__container.container
      h2.pages-other__title ОРГАНІЗАЦІЯ МІЖНАРОДНОГО ЕКОНОМІЧНОГО СПІВРОБІТНИЦТВА
      .pages-other__body(style="background-image: url(img/services-inner1.png); background-position: right center;background-size: 40% auto")
        .services-inner__content
          ul
            +list(['Організація міжнародних ділових заходів у ТПП України; ',
            'Організація міжнародних ділових заходів за кордоном;',
            'Консультації із загальних питань міжнародного торговельного, інвестиційного співробітництва та з питань виробничої кооперації; ',
            'Пошук потенційного партнера за кордоном;',
            'Організація індивідуальних ділових поїздок згідно з технічним завданням замовника; ',
            'Огляд потенційних ринків експорту;',
            'Консультації щодо вимог ринку експорту до товару;',
            'Дослідження цільового ринку експорту;',
            'Розробка експортної стратегії підприємства; ',
            'Підвищення кваліфікації в рамках сертифікаційної програми тренінгів для консультантів із експорту до ЄС; ',
            'Пошук потенційних партнерів через Європейську мережу підприємств (een); ',
            'Консультації Служби старших експертів (ses);',
            'Проведення тренінгів із питань міжнародної економічної діяльності;',
            'Індивідуальне проектне консультування та підтримка іноземних компаній щодо проектів в Україні; ',
            'Організація ознайомчих місій в Україну для іноземних компаній.'])
          
