.submenu
  padding: 0
  background-color: $accent
  margin: 0
  list-style: none
  position: absolute
  z-index: 1
  padding: 1rem
  grid-auto-columns: 175px
  grid-template-rows: auto auto auto auto auto
  grid-auto-flow: column

  &__item
    padding: 5px 0
    &:nth-child(6n)
      &:after
        content: ''
        position: absolute
        top: 0
        right: 2rem
        left: 0
        bottom: 0
        margin:  auto
        display: block
        width: 1px
        height: 80%
        background-color: white


  &__link
    color: #fff
    text-decoration: none
    font-size: 0.75rem
    &:hover
      color: darken(#fff, 30%)

  @media screen and (max-width: 768px)
    position: relative
    padding: 0
    margin: 0 5%
    min-width: auto

    &__link
      font-size: inherit
