.nav
  height: 3.1875rem

  &__list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    height: 100%

  &__item
    position: relative
    &:last-child
      margin-right: 0
    &:hover
      .nav__link
        background-color: $accent
        color: #ffffff
    @media screen and (max-width: 768px)
      &:hover
        .nav__link
          background-color: inherit
          color: inherit

  &__link
    display: inline-block
    color: $text-color
    text-decoration: none
    font-size: 1.2rem
    font-family: 'my-roboto'
    font-weight: 500
    line-height: 3.1875rem
    padding: 0 calc(6.3125rem / 2)
    &:hover
      background-color: $accent
      color: #fff
  &__link:hover ~ .nav__submenu, .nav__submenu:hover
    display: grid


  &__submenu
    display: none


  @media screen and (max-width: 768px)
    height: auto
    &__list
      flex-direction: column
      align-items: stretch

    &__link
      display: block
      padding: 5px 0
      position: relative
      line-height: inherit
      &:hover
        background-color: inherit
        color: inherit

    &__item
      margin-right: 0
      border-bottom: 1px solid #bdbdbd
      text-align: center
      &:first-child
        border-top: 1px solid #bdbdbd

      &--active.nav__link
        background-color: inherit
        &:after
          transform: rotate(90deg)
      &--dropdown
        .nav__link
          &:after
            /* >> Symbol you want to use: */
            content: "\f056"
            /* >> Name of the FA free font (mandatory)
                       - 'Font Awesome 5 Free' for Regular and Solid symbols;
                       - 'Font Awesome 5 Brand' for Brands symbols. */
            font-family: 'Font Awesome 5 Free'
            /* >> Weight of the font (mandatory)
                       - 400 for Regular and Brands symbols;
                       - 900 for Solid symbols. */
            font-weight: 900

            /* >> Optional styling: */
            display: inline-block
            position: absolute
            right: 25%
            color: $accent
            font-size: 1.5rem
            line-height: 1.5rem
            transition: all 0.5s ease
            /* ... */

  @media screen and (max-width: 768px)

    &__link:hover ~ .nav__submenu, .nav__submenu:hover
      display: none
