.nav
  height: 2.1875rem
  &__list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: center
    height: 100%

  &__item
    margin-right: 5.3125rem
    &:last-child
      margin-right: 0

  &__link
    color: $accent
    text-decoration: none
    font-size: 0.9375rem

  &__submenu
    display: none
