mixin menu(data)
	ul.footer-nav__list
		each item in data.menu
			li.footer-nav__item
				a.footer-nav__link(href=item.href)= item.text

mixin languages(data)
	ul.languages.languages--mobile
		each lang in data.languages
			li.languages__item.languages__item--footer
				a.languages__link(href='javascript:void(0);')= lang
	
footer.page__footer.footer
	.footer__container.container
		.footer__body
			.footer__logo-contact
				.footer__logo
					.logo
						img.picture.picture--full.logo__picture(src='img/logo-white.png')
					.description.description--footer
						h1.description__title ТОРГОВО-ПРОМИСЛОВА ПАЛАТА УКРАЇНИ
						span.description__manufacturer Представництво в Італії
						span.description__detaile (Ломбардія, П’ємонт)
				+languages({'languages': ['ua','it','en']})
			.footer__nav-social
				.footer-nav
					.footer-nav__title Розділи
					+menu({'menu':[{
						'href': 'about.html',
						'text': 'Про палату'	
					},{
						'href': 'srvices.html',
						'text': 'Послуги'		
					},{
						'href': 'events.html',
						'text': 'ПодіЇ'		
					},{
						'href': 'contacts.html',
						'text': 'Контакти'		
					}]})
				.footer__socials
					a(href="facebook.com") 
						i.fab.fa-facebook-square
			.footer__map#map
			address.footer__address.address
				span.address__item Viale Certosa 138, Milano (MI), Italia, 20156
				span.address__item tel Italia: 
					a.number.number--white(href="tel:393319899647") +39 (331) 989 96 47
				span.address__item tel Ukraine: 
					a.number.number--white(href="tel:393319899647") +39 (331) 989 96 47
				a.address__item(href="mailto:info@ucci-studio.it") info@ucci-studio.it
		.footer__creator.creator 	&#169; Designed by  
			a.creator__link(href="javascript:void(0);")  Jul Mas studio
