mixin languages(data)
	ul.languages.header__languages
		each lang in data.languages
			li.languages__item
				a.languages__link(href='javascript:void(0);')= lang
			
mixin main-menu-submenu(data)
	ul.nav__submenu.submenu&attributes(attributes)
		each item in data
			li.submenu__item
				a.submenu__link(href=item.url)= item.title
			
mixin main-menu(data)
	nav.nav&attributes(attributes)
		ul.nav__list
			each item in data.menu
				- var itemClasses = ['nav__item']
				//- Доп класс для пунктов с подменю
				if (item.submenu !== false)
					- itemClasses.push(itemClasses[0] + '--dropdown')
				li(class=itemClasses)
					a.nav__link(href=item.url)= item.title
					if (item.submenu !== false)
						+main-menu-submenu(item.submenu)

header.page__header.header
	.header__top.container
		.header__logo-description
			.logo
				img.picture.logo__picture(src='img/logo.png' alt='logo')
			.description
				h1.description__title ТОРГОВО-ПРОМИСЛОВА ПАЛАТА УКРАЇНИ
				span.description__manufacturer Представництво в Італії
				span.description__detaile (Ломбардія, П’ємонт)
		.header__icon-contact
			.header__icons
				.header__socials
					a.social(href="facebook.com") 
						i.fab.fa-facebook-f
				+languages({'languages': ['ua','it','en']})
			.header__contact
				.header__numbers
					a.number(href="tel:393319899647") +39 (331) 989 96 47
					a.number(href="tel:393319899647") +39 (331) 989 96 47
				span.header__address Viale Certosa 138, Milano (MI), Italia, 20156
	.header__mobile
		.header__logo-description
			.logo
				img.picture.logo__picture(src='img/logo.png' alt='logo')
			.description
				h1.description__title ТОРГОВО-ПРОМИСЛОВА ПАЛАТА УКРАЇНИ
				span.description__manufacturer Представництво в Італії
				span.description__detaile (Ломбардія, П’ємонт)
		.burger
			i.fas.fa-bars
	.header__nav
		+main-menu({
					"menu": [{
							"title": "ПРО ПАЛАТУ",
							"url": "/about.html",
							"submenu": false
						},
						{
							"title": "ПОСЛУГИ",
							"url": "services.html",
							"submenu": false
						},
						{
							"title": "ПОДІЇ",
							"url": "events.html",
							"submenu": [	
								{
									"title": "Архитектура",
									"url": "services-inner.html"
								},
								{
									"title": "Дизайн",
									"url": "url3"
								}
							]
						},
						{
							"title": "НОВИНИ",
							"url": "news.html",
							"submenu": false
						},
						{
							"title": "КОНТАКТИ",
							"url": "contacts.html",
							"submenu": false
						}
						
					]
				})
