.footer-nav

  &__title
    color: #fff
    font-size: 1.6rem
    text-transform: uppercase

  &__list
    list-style: none
    padding: 0

  &__link
    color: #fff
    text-decoration: none
    font-size: 1.5rem
    line-height: 2.5rem

    &:hover
      color: #B3B3B3
