.number
  font-size: 1.5rem
  color: $text-color
  margin-right: 1.875rem
  text-decoration: none
  &:last-child
    margin-right: 0

  &--white
    color: #fff

  @media screen and (max-width: 768px)
    font-size: 1.2rem
