.header

  &__top
    display: flex
    justify-content: space-between

  &__logo-description
    display: flex
    padding: 23px 0
    padding-left: 15px
    text-decoration: none

  &__icon-contact
    padding-right: 15px

  &__icons
    display: flex
    justify-content: flex-end
    padding-top: 23px

  &__address
    font-size: 0.9375rem

  &__socials
    margin-right: 2.1875rem
    display: flex
    align-items: center

  &__contact
    display: flex
    flex-direction: column
    align-items: flex-end
  &__numbers
    margin-top: 10px
  &__address
    font-size: 1.2rem
    color: $text-color
    font-style: normal
    font-family: 'my-roboto'
    font-weight: 300

  &__nav
    background-color: $gray
    flex: 0 0 100%

  &__mobile
    background-color: $gray
    display: none
    box-shadow: 0 0 4px #333

  @media screen and (max-width: 768px)
    display: flex
    flex-direction: column
    align-items: stretch
    &__icons
      display: none

    &__nav
      display: none
      order: 2

    &__icon-contact
      order: 3
      width: 100%
      padding-right: 0

    &__top
      order: 3
      margin: 0
      width: 100%
      box-sizing: border-box
      .header__logo-description
        display: none

    &__logo-description, &__btn-menu
      background-color: $gray

    &__logo-description
      padding-top: 10px
      padding-bottom: 10px

    &__burger
      flex: 2

    &__mobile
      display: flex
      justify-content: space-between
      align-items: center
      padding-right: 15px
      flex: 1

    &__address
      font-size: 1rem
      margin-top: 0.5rem
