.news
  background-color: $gray
  padding: 10px
  box-sizing: border-box
  display: flex
  position: relative
  text-decoration: none

  &__picture
    max-width: 150px
    max-height: 110px
    height: 110px
    width: 150px
    margin-right: 10px

  &__title
    margin: 0
    font-size: 1.1rem
    line-height: 1.1rem
    margin-bottom: 1rem
    font-family: 'my-roboto'
    font-weight: 400
    color: $text-color

  &__data
    color: $text-color
    font-size: 1.1rem
    font-family: 'my-roboto'
    font-weight: 300

  &__content
    position: relative
    flex: 1

  &__more
    font-size: 0.6rem
    position: absolute
    bottom: 0
    right: 1rem
    text-decoration: none
    color: $accent
    display: none
    font-family: 'my-roboto'
    font-weight: 300

  &__dots
    position: absolute
    bottom: 0
    color: #fff
    right: 3rem
    font-size: 2rem


  @media screen and (max-width: 992px)
    &:last-child
      display: none

  @media screen and (max-width: 768px)
    &:last-child
      display: flex

    &__more
      display: block

    &__dots
      right: 0
      font-size: 1rem
      color: $accent

  @media screen and (max-width: 480px)

    &__picture
      flex: 0 0 100px
      height: 75px

    &__title, &__data
      font-size: 0.75rem
