.news
  background-color: $gray
  padding: 10px
  box-sizing: border-box
  &__link
    display: flex

  &__picture
    width: 150px
    margin-right: 10px

  &__title
    margin: 0
    font-size: 0.8125rem
    margin-bottom: 1rem
