.description
  display: flex
  flex-direction: column
  padding-top: 1rem
  margin-left: 1rem
  color: $text-color

  &__title, &__manufacturer
    font-size: 1.6rem
    margin: 0
    font-family: 'my-roboto'

  &__title
    font-weight: 900

  &__manufacturer
    font-weight: 500

  &__detaile
    font-size: 1.4rem
    font-family: 'my-roboto'
    font-weight: 300

  &--footer
    padding-top: 0
    color: #fff

    .description__title
      font-weight: 400

    .description__manufacturer
      font-weight: 300

  &--contact
    margin: 0
    padding: 0

    .description__title, .description__manufacturer
      font-weight: 500

  @media screen and (max-width: 768px)

    &__title, &__manufacturer
      font-size: 0.875rem

    &__detaile
      font-size: 0.75rem

    &--footer
      justify-content: center
