.description
  display: flex
  flex-direction: column
  padding-top: 1rem
  margin-left: 1rem
  color: $text-color

  &__title, &__manufacturer
    font-size: 1.6rem
    margin: 0

  &__detaile
    font-size: 1.4rem

  &--footer
    padding-top: 0
    color: #fff

  @media screen and (max-width: 768px)

    &__title, &__manufacturer
      font-size: 0.875rem

    &__detaile
      font-size: 0.75rem
