@import 'utils/_variables.sass'
@import 'base/_fonts'
@import 'utils/_mixins'
@import '../blocks/**/*.sass'

html, body
  font-family: 'my-roboto'

.container
  max-width: 1170px
  margin: 0 auto

.container--min
  max-width: 1600px
  margin: 0 auto

.no-scroll
  overflow: hidden

@media screen and (max-width: 1700px)
  html
    font-size: 90%

@media screen and (max-width: 1400px)
  html
    font-size: 80%

@media screen and (max-width: 1200px)
  .container
    padding-left: 15px
    padding-right: 15px
