.address
  display: flex
  flex-direction: column
  font-style: normal

  &__item
    color: #fff
    text-decoration: none
    font-size: 1.5rem
    line-height: 2rem

  @media screen and (max-width: 480px)

    &__item
      font-size: 1.2rem
