.footer
  background-color: $accent
  padding-top: 42px
  padding-bottom: 15px
  &__body
    display: flex
    justify-content: space-between
    margin-bottom: 55px

  &__logo-contact
    width: 380px

  &__map
    width: 538px
    min-height: 250px

  &__nav-social
    width: 118px
    display: flex
    flex-direction: column
    justify-content: space-between

  &__socials
    .fab
      color: #fff
      font-size: 3rem
      &:hover
        color: #B3B3B3

  &__logo
    display: flex
    margin-bottom: 45px

  &__creator
    display: flex
    justify-content: center
